body{
    margin: 0px;
    background-image: url(../images/architecture-buildings-city-92225.jpg);
    background-size: cover;
    font-family: machineFont;
}
input:focus{
    outline-width: 0;
}
@font-face {
    font-family: machineFont;
    src: url(../font/Maximize.otf);
}

#message-status{
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,1.00);
    z-index: 100;
    border-bottom: 1px solid white;
    font-size: 18px;
    box-sizing: border-box;
}
.close{
    float: right;
    color: white;
    margin-right: 10px;
    font-size: 40px;
    background:none;
    width: 30px;
    height: 28px;
    margin-top: -15px;
    border: none;
    cursor: pointer;
}
#form{
    color: white;
    width: 100%;
    height: 635px;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.85);
    overflow: hidden;
}
.form-profile{
    /*	background: rgba(255, 255, 255, 0.14);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    border-top: 1px solid rgba(255, 255, 255, 0.14);
    padding-left: 120px;
}
.form-attribute{
    width: 600px;
    height: 25px;
    margin-top: 30px;
    font-size: 18px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: 10px;
    padding-left: 10px;
    transition: all 0.5s;
}


.email{
    width: 650px;
    height: 25px;
    margin-top: 30px;
    font-size: 18px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: 10px;
    padding-left: 10px;
    transition: all 0.5s;
}


.form-Username{
    width:240px;
    height: 16px;
    margin-top: 35px;
    font-size: 18px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: #F5F5F5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: 5px;
    padding-left: 5px;
    transition: all 0.5s;
    padding-bottom: 5px;
}
.role{
    width:305px;
    height: 16px;
    margin-top: 35px;
    font-size: 18px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: #F5F5F5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: 7px;
    padding-left: 5px;
    transition: all 0.5s;
    padding-bottom: 5px;
}
.form-title{
    width: 20%;
    height: 25px;
    font-size: 40px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: white;
    position: relative;
    margin-left: 30px;
}

.form-list{
    width:150px;
    height: 16px;
    font-size: 18px;
    font-family: machineFont;
    background-color: rgba(0,0,0,0.0);
    border: none;
    color: #F5F5F5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
    margin-left: 5px;
    padding-left: 5px;
    transition: all 0.5s;
    padding-bottom: 5px;
}
.file {
    position: relative;
    margin-top: -190px;
    margin-left: 235px;
}
.file label {
    background: rgba(255, 255, 255, 0.14);
    padding: 5px 20px;
    color: white;
    font-size: 16px;
    transition: all .4s;
}
.file input {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0.01;

}
.file input:hover + label,
.file input:focus + label {
    background: #CCCCCC;
    color: black;
}
.form-submit{
    margin-left: 500px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.14);
    font-family: machineFont;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    margin-top: 50px;
    margin-bottom: 20px;
}
input:focus{
    border-bottom: 1px solid white;
}
.form-submit:hover{
    background: #CCCCCC;
    color: black
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DCDCDC;
    font-size: 15px;
}
#line{
    border: 1px solid rgba(255, 255, 255, 0.14);
    transform:skewY(115deg);
    z-index: 999;
    left: 470px;
    position: relative;
}
.logo{
    top: 300px;
    right: 40px;
    font-size: 60px;
    position: absolute;
}
.fullName{
    top: 365px;
    right: 62px;
    position: absolute;
    text-align: center;
}.error{
    color: #FFFF66;
}
